
.navbar-brand img {
  height: 100%;
}

header {
  height: 100px;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    /* margin: 2px 0 0 0; */
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 20px;
}


#player {
    height: 220px;
    width: 450px;
    margin: 5px auto;
    background-color: #000;
    display: none;
    position: relative;
}

#player .editors i {
    text-align: center;
    left: 50px;
    width: 30px;
    height: 30px;
    background-color: #E4E4E4;
    border-radius: 50%;
    padding-top: 7px;
    
    cursor: pointer;
    position: absolute;
    left: -60px;
}

#player .editors i.glyphicon-trash {
   top: 120px;
    color: red;
    
}

#player .editors i.glyphicon-edit {
    color: orange;
    top: 70px;
}

#player .editors i.glyphicon-remove {
    color: black;
    top: 20px;
    
}

#player .fixed {
    position: fixed;
    width: 450px;
    border: 7px double #333;
    
    background-color: #f05151a2;
    padding: 5px;
    border-radius: 50px;
    z-index:10000;
}

.modal {
    z-index: 100000
}

#player .image-cropper.playing img{
    -webkit-animation: rotation 7s infinite linear;
    
}

#player audio {
    display: table;
    margin: 4px auto 8px;

}

#songsList .current {
    /* content: "|>"; */
    list-style-type: none;
    /* position: relative; */
    opacity: 1;
}

#songsList li {
    position: relative;
    opacity: 0.5;
}

#songsList li.current::before {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    position: absolute;
    left: -19px;
    opacity: 1;
}

#songsList li.current:hover::before {
    content: "\e073";
}

#songsList li:hover::before {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    position: absolute;
    left: -19px;
    opacity: 1;
    
}

#songsList li:hover {
    list-style-type: none;
}





@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}