
.navbar-brand img {
  height: 100%;
}

header {
  height: 100px;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    /* margin: 2px 0 0 0; */
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 20px;
}


#player {
    /* height: 180px; */
    width: 450px;
    margin: 5px auto;
    border: 7px double #333;
    
    background-color: #f05151a2;
    padding: 5px;
    border-radius: 50px;
}

#player .image-cropper {
    -webkit-animation: rotation 7s infinite linear;

}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}